<html>
  <head><p class="lead">Your blood pressure records</p></head>
  <body>
    <% @rec.each do |r|%>
    <table border = "1" class="table table-striped"  id = "recordTable">  
   <tr>
      <td>id</td>
      <td>max</td>
      <td>min</td>
      <td>date</td>
      <td>name</td>
      <td>state</td>
   </tr>
   <tr>
      <td><%= r.id %></td>
      <td><%= r.max %></td>
      <td><%= r.min %></td>
      <td><%= r.date %></td>
     <td><%= r.name %></td>
     <td>
         <img src="http://www.cientec.or.cr/matematica/origami/rojo.gif" width="25" height="25"/>	
         <img src="http://programacionyjuegos.files.wordpress.com/2012/02/cuadrado_verde.png" width="25" height="25"/>
    </td>  
    <td><button class = "btn btn-danger">Delete record</button></td>
    </tr>
  </table>
    <% end %>
  </br>
  <div align = "left" style="height:50px;">
     <button class = "btn btn-primary" type="button">Export</button>
    <a href="/"><button class = "btn btn-warning" type="button">Go back</button></a> 
  </div>
  <div  style="height:50px; color:#0000FF">
    <p>see your min and max pressure average</p>
  <form method="post" action="/blood_pressures.rb" noValidate='noValidate'>
	  <%= csrf_token_field %>
	  <label for='date1'>minDate</label>
		<input type='date' id='minDate' name='minDate' placeholder='yyyy-mm-dd' />
		<label for='date2'>maxDate</label>
		<input type='date' id='maxDate' name='maxDate' placeholder='yyyy-mm-dd' />    
     <a href = "blood_pressures/calculateAverage"><input class ="btn btn-primary" id = "buttonCalculate" type ='button' value ="Calculate average"></input>
  </form>
  </div></a>
  </body>   
</html>
