<html>
  <head>        
    <% if (@rec != nil) && !(@rec.empty?) %>
        <p class="lead">Your blood pressure records</p>
    <% else %>
        <p class="lead">You have not pressure records</p>  
    <% end %>     
  </head>
  <body>
    <% @rec.each do |r|%>
    <table border = "1" class="table table-striped"  id = "recordTable">  
   <tr>
      <td>id</td>
      <td>max</td>
      <td>min</td>
      <td>date</td>
      <td>time</td>
      <td>name</td>
      <td>state</td>
     <td>delete record</td>
   </tr>
   <tr>
      <td><%= r.id %></td>
      <td><%= r.max %></td>
      <td><%= r.min %></td>
      <td><%= r.date.strftime("%F") %></td>
      <td><%= r.date.strftime("%H:%M") %></td>
      <td><%= r.name %></td>
     <td>
     <img src= <%= r.get_state_image %> width="25" height="25"/>	
    </td>  
    <td>
      <a href="delete?record_id=<%= r.id %>" id="delete_<%= r.id %>"> 
      <button class="btn btn-danger" >Delete record<button></td>
      </a>
    </tr>
  </table>
    <% end %>
  </br>
	<div class = "well">
	<a href="/blood_pressures/index"><button class = "btn btn-primary" id="GoBack">Go Back To Blood Pressures Index<button></a>
  <a href="/blood_pressures/exportForm"><button class = "btn btn-primary" id="Export Records">Export Records<button></a>  
	</div>
  </body>   
</html>
