<html>
  <head>        
    <% if (@rec != nil) && !(@rec.empty?) %>
        <p class="lead">Your blood pressure records</p>
    <% else %>
        <p class="lead">You have not pressure records</p>  
    <% end %>     
  </head>
  <body>
    <table border = "1" class="table table-striped"  id = "recordTable"> 
   <tr>
      <td>id</td>
      <td>max</td>
      <td>min</td>
      <td>date</td>
      <td>time</td>
      <td>name</td>
      <td>state</td>
     <td>delete record</td>
   </tr>
  
		<% @rec.each do |r|%>
		<tr> 			
		  <td><%= r.id %></td>
		  <td><%= r.max %></td>
		  <td><%= r.min %></td>
		  <td><%= r.date.strftime("%F") %></td>
		  <td><%= r.date.strftime("%H:%M") %></td>
			<td><%= r.name %></td>
			<td>
			<% if r.get_state_image  %>     
				<img src= "http://programacionyjuegos.files.wordpress.com/2012/02/cuadrado_verde.png" width="25" height="25" />
			<% else %>
		   	<img src= "http://www.cientec.or.cr/matematica/origami/rojo.gif" width="25" height="25" />
			<% end %> 	
		</td>  
		    <td>
		    <a href="delete?record_id=<%= r.id %>" id="delete_<%= r.id %>" class="btn btn-danger" >Delete record</td>
		    </a> 
		</tr>
		<% end %>
  </table>
  </br>
	<div class = "well">
	<a href="/blood_pressures/index" class = "btn btn-primary" id="GoBack">Go Back To Blood Pressures Index</a>
  <a href="/blood_pressures/exportForm" class = "btn btn-primary" id="Export Records">Export Records</a>  
	</div>
  </body>   
</html>
